.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
__pycache__/
backend/info/__pycache__/*
backend/__pycache__/*
backend/__pycache__/urls.cpython-38.pyc
.cache/*
.*.swp
*.pyc
*/.ipynb_checkpoints/*


downloads/
backend/example.env
db.sqlite3
.ssh/
